@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.photo{
    margin: 2rem 1rem auto;
}
.container{
    display: flex !important;
  color: white !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 4rem;
}
.content > p{
    font-size: 16px;
    word-spacing: 3px;
    font-family: 'Roboto Slab', serif;
    margin-left: 3.4rem;
}
.photo > img{
    margin-left: 30px;
    border-radius: 20px;
    height: 350px;
    
}